*
{
    border: 0%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: auto;
   /*background-image: url(IMAGS/stipling-dots-background_78370-2952.jpg);
    background-size: cover;*/


}
 .bk
 {
    background: linear-gradient(90deg, #b06afe, #40a6ff);
    background-size: cover;

 }

 .heddingnav h2{
    font-size: 2.3rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(119, 112, 112);
}

.heddingnav h3{
    font-size: 1.95rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


 .hedding h2{
    font-size: 8rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(119, 112, 112);
}

.hedding h3{
    font-size: 6.8rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about
{
    overflow: hidden;
}

.pp{
    font-size: 1.3rem;
    position: f;
}

.animation {
    width: 100%;
    margin-top: 5%;
    animation-name: lory;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    position: relative;
}

.animation img {
    transform: scaleX(-1); /* عكس اتجاه الصورة أفقياً */
}

@keyframes lory
{
    0% {left: -20%;}
    20% {left: 0%; transition: ease-in;}
    70%{left:85%; transition: ease-out;}
    100% {left: 120%;}

}



